section {
  background-image: url("../../../assets/images/BACKGROUNDS/designer-work-office.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section .container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.form-parent {
  background-color: #eeeeeed2;
  width: 450px;
  padding: 2rem;
}

@media screen and (max-width: 990px) {
  section .container {
    justify-content: center;
  }
}
