<section class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="intro-layer" data-aos="fade-up" data-aos-duration="1000">
          <div class="text-white intro-text">
            <h1 class="fw-bold">Supplera for the students</h1>
            <p style="max-width: 500px">
              Supplera is a platform that streamlines the procurement process
              and trading of supplies for students and professionals in the
              scientific and artistic realms.
            </p>
          </div>
          <img
            class="my-img"
            src="./assets/images/BACKGROUNDS/madeha.png"
            alt=""
          />
        </div>
      </div>
    </div>

    <nav class="filter-nav mt-4">
      <ul class="list-unstyled">
        <li data-aos="fade-right" data-aos-duration="1000">
          <span class="filter-label"
            ><i class="fa fa-filter"></i> Filter By</span
          >
        </li>
        <li data-aos="fade-right" data-aos-duration="1000">
          <a
            routerLink="allproducts"
            routerLinkActive="active-filter"
            class="filter-link"
            >ALL</a
          >
        </li>
        <li data-aos="fade-right" data-aos-duration="1000">
          <a
            routerLink="medicine"
            routerLinkActive="active-filter"
            class="filter-link"
            >Medicine</a
          >
        </li>
        <li data-aos="fade-right" data-aos-duration="1000">
          <a
            routerLink="engineering"
            routerLinkActive="active-filter"
            class="filter-link"
            >Engineering</a
          >
        </li>
        <li data-aos="fade-right" data-aos-duration="1000">
          <a
            routerLink="pharmacy"
            routerLinkActive="active-filter"
            class="filter-link"
            >Pharmacy</a
          >
        </li>
        <li data-aos="fade-right" data-aos-duration="1000">
          <a
            routerLink="agriculture"
            routerLinkActive="active-filter"
            class="filter-link"
            >Agriculture</a
          >
        </li>
        <li data-aos="fade-right" data-aos-duration="1000">
          <a
            routerLink="science"
            routerLinkActive="active-filter"
            class="filter-link"
            >Science</a
          >
        </li>
        <li data-aos="fade-right" data-aos-duration="1000">
          <a
            routerLink="economics and political science"
            routerLinkActive="active-filter"
            class="filter-link"
            >Economics and Political Science</a
          >
        </li>
        <li data-aos="fade-right" data-aos-duration="1000">
          <a
            routerLink="college of arts"
            routerLinkActive="active-filter"
            class="filter-link"
            >College of Arts</a
          >
        </li>
        <li data-aos="fade-right" data-aos-duration="1000">
          <a
            routerLink="faculty of computers & information technology"
            routerLinkActive="active-filter"
            class="filter-link"
            >Faculty of Computers & Information Technology</a
          >
        </li>
      </ul>
    </nav>
    <hr />
  </div>
</section>
<router-outlet></router-outlet>
