<section class="container-fluid my-section">
  <div class="row justify-content-between align-items-start main-row">
    <div class="col-md-6 col-xl-4 my-5">
      <div *ngIf="products.length > 0; else emptyCart">
        <h1 class="h4">Your Orders</h1>
        <div class="list-group mb-4">
          <a
            class="list-group-item list-group-item-action bg-light"
            *ngFor="let product of products; index as index"
          >
            <div style="width: 70px; position: relative">
              <img [src]="product.src[0]" alt="#" class="w-100" />
              <span class="product-count">{{
                cart.products[index].quantity
              }}</span>
            </div>
            <div class="details ms-5" style="width: calc(100% - 150px)">
              <h5 class="mb-1 xs-small fw-bold">
                {{ product.name }}
              </h5>
              <small class="text-body-secondary xs-small"
                >Brand: {{ product.brand }}</small
              >
            </div>
            <div class="" style="width: 50px">
              <span class="text-body-secondary xs-small"
                >EGP{{ product.price }}</span
              >
            </div>
            <i
              class="fa-solid fa-xmark delete-btn"
              (click)="removeItem(product.id)"
            ></i>
          </a>
        </div>
        <div class="descount-parent">
          <h2 class="h5">Discount Code</h2>
          <div class="descount">
            <input type="text" placeholder="SUPP10" class="xs-small" />
            <button class="btn xs-small fw-bold">Apply</button>
          </div>
        </div>
        <hr />
        <div class="cost-parent">
          <div class="cost mb-3">
            <h4 class="h6">Subtotal</h4>
            <span class="xs-small fw-bold">EGP {{ totalPrice }}</span>
          </div>
          <div class="cost mb-3">
            <h4 class="h6">Shipping Cost</h4>
            <span class="xs-small fw-bold">EGP {{ shipCost }}</span>
          </div>
          <div class="cost mb-3">
            <h4 class="h6">Discount ( {{ descountRate }} %)</h4>
            <span class="xs-small fw-bold">EGP - {{ descount }} </span>
          </div>
          <hr />
          <div class="cost my-3">
            <h4 class="h6">Total</h4>
            <span class="xs-small fw-bold">EGP {{ total }} </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-xl-4 my-5">
      <div class="cash-or-visa">
        <label
          for="visa"
          class="form-check form-check-inline cash-or-visa-child"
          [ngClass]="{ active: method === 'visa' }"
        >
          <p><i class="fa-solid fa-credit-card"></i> Card</p>
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="visa"
            value="visa"
            (change)="handleChange($event)"
            [checked]="method === 'visa'"
          />
        </label>
        <label
          for="cash"
          class="form-check form-check-inline cash-or-visa-child"
          [ngClass]="{ active: method === 'cash' }"
        >
          <p><i class="fa-solid fa-money-bill-1-wave"></i> Cash</p>
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="cash"
            value="cash"
            (change)="handleChange($event)"
            [checked]="method === 'cash'"
          />
        </label>
      </div>
      <form *ngIf="method === 'visa'" class="mt-3">
        <div class="mb-3">
          <label for="name" class="xs-small fw-bold mb-2"
            >Card holder name</label
          >
          <input
            type="text"
            id="name"
            class="form-control"
            placeholder="Ex: Seif Ashraf"
          />
        </div>
        <div class="mb-3">
          <label for="creditNumber" class="xs-small fw-bold mb-2"
            >Credit Card Number</label
          >
          <input
            type="text"
            id="creditNumber"
            class="form-control"
            placeholder="1234 1234 1234 1234"
          />
        </div>
        <div class="mb-3 exp-cvv">
          <div>
            <label for="expDate" class="xs-small fw-bold mb-2">Exp Date</label>
            <input type="date" id="expDate" class="form-control" />
          </div>
          <div>
            <label for="cvv" class="xs-small fw-bold mb-2">CVV</label>
            <input
              type="password"
              id="cvv"
              class="form-control"
              placeholder="***"
            />
          </div>
        </div>
        <div class="d-flex align-items-center my-4">
          <input type="checkbox" name="regAddress" id="regAddress" />
          <label for="regAddress" class="ms-2 fw-bold text-black-50 xs-small"
            >Shipping will go to your registration address</label
          >
        </div>
        <div>
          <button
            class="btn bg-main text-white xs-small fw-bold w-100"
            (click)="addOrder()"
          >
            Pay <span *ngIf="cart.products.length > 0">EGP {{ total }}</span>
          </button>
        </div>
      </form>
      <form *ngIf="method === 'cash'" class="mt-3">
        <div class="mb-3">
          <label for="address" class="xs-small fw-bold mb-2"
            >Your Address</label
          >
          <input
            type="text"
            id="address"
            class="form-control"
            placeholder="enter your address"
          />
        </div>
        <div class="mb-3">
          <label for="phNumber" class="xs-small fw-bold mb-2"
            >Phone Number</label
          >
          <input
            type="tel"
            id="phNumber"
            class="form-control"
            placeholder="0 *** *** ****"
          />
        </div>
        <div class="d-flex align-items-center my-4">
          <input type="checkbox" name="regAddress" id="regAddress" />
          <label for="regAddress" class="ms-2 fw-bold text-black-50 xs-small"
            >Shipping will go to your registration address</label
          >
        </div>
        <div>
          <button
            class="btn bg-main text-white xs-small fw-bold w-100"
            (click)="addOrder()"
          >
            Pay <span *ngIf="cart.products.length > 0">EGP {{ total }}</span>
          </button>
        </div>
      </form>
    </div>

    <div class="col-md-3 paner-parent d-none d-xl-flex">
      <div class="paner shadow text-white">
        <h1 class="h3 fw-bold">Supplera. to your home</h1>
        <p class="xs-small">
          Supplera is a platform that streamlines the procurement process and
          trading of supplies for students and professionals in the scientific
          and artistic realms.
        </p>
        <div class="shakosh">
          <img
            class="w-100"
            src="./assets/images/BACKGROUNDS/portrait-delivery-man-handing-out-parcel-removebg.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #emptyCart>
  <a class="list-group-item list-group-item-action bg-light emptyCart shadow">
    <h2 class="m-0 p-4 text-center">Your Cart Is Empty</h2>
  </a>
</ng-template>
