<section class="my-5" *ngIf="orders.length > 0; else empty">
  <div class="container">
    <div class="table-parent">
      <table class="table border">
        <thead>
          <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders.slice(0, 6)" class="xs-small my-row">
            <td>
              {{ order._id }}
            </td>
            <td>
              {{ order.createdAt }}
            </td>
            <td>{{ order.totalAmount }}</td>
            <td>{{ order.status }}</td>
            <td>
              <button class="btn btn-danger" (click)="cancelOrder(order._id)">
                Cancel
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<ng-template #empty>
  <div class="empty-msg">
    <h1>You dont have any orders yet</h1>
  </div>
</ng-template>
